* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	min-height: 100%;
}

body{
	margin: 0px;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}

h2 {
	font-size: 200px;
	color: #e6af4b;
}

h3 {
	margin-bottom: 10%;
	color: #334431;
}

h2, h3{
	text-align: center;
}

header{
	position: relative;
	left: 0;
	height: 8em;
	width: 100%;
	background-color: rgba(224, 80, 56, .8);
	top: 0;
}

header .title{
	position: relative;
	top: 30%;
	text-align: center;
	font-size: 3em;
}



footer{
	position: absolute;
	background-color: rgba(242, 203, 188, .8);
	bottom: 0;
	left: 0;
	height: 8em;
	width: 100%;
}

.show{
	opacity: 1;
}

.hide{
	opacity: 0;
}

.nav{
	display: flex;
	justify-content: space-around;
}



